@model Brainstorm.Models.CustomerViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>*@
@section MyStyle{
  <style>
       table {
           font-family: arial, sans-serif;
           color: black;
           border-collapse: collapse;
           width: 100%;
       }

       td, th {
           border: 1px solid #f8f8f8;
           text-align: left;
           padding: 8px;
       }



       /*tr:nth-child(even) {
        background-color: #dddddd;
    }*/
</style>

}


<div><h2 style="color:#0074D9; font-family:'Century Gothic Light'"><strong>Customer</strong></h2></div>



    <div>
        <form method="post" id="form">
            <table>
                <tr>
                    <td>@Html.LabelFor(c => c.Code)</td>
                    <td>@Html.TextBoxFor(c => c.Code, Model.Code,new { id="Code"})</td>
                    <td style="color:red">@Html.ValidationMessageFor(c => c.Code,"", new { id = "validcode" })</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(c => c.Name)</td>
                    @*<td><input type="text" name="Name" value="@Model.Name"/></td>*@
                    <td>@Html.TextBoxFor(c => c.Name, Model.Name, new { id = "Name" })</td>
                    <td style="color:red">@Html.ValidationMessageFor(c => c.Name,"",new { id = "validname" })</td>
                   
                </tr>
                
                <tr>
                    <td>@Html.LabelFor(c => c.Address)</td>
                    @*<td><input type="text" name="Name" value="@Model.Name"/></td>*@
                    <td>@Html.TextBoxFor(c => c.Address, Model.Address)</td>
                    <td style="color:red">@Html.ValidationMessageFor(c => c.Address)</td>
                  
                </tr>
                
                <tr>
                    <td>@Html.LabelFor(c => c.Email)</td>
                    @*<td><input type="text" name="Name" value="@Model.Name"/></td>*@
                    <td>@Html.TextBoxFor(c => c.Email, Model.Email,new { id="Email"})</td>
                    <td style="color:red" >@Html.ValidationMessageFor(c => c.Email,"",new { id ="validemail"})</td>
                   
                </tr>
                
                <tr>
                    <td>@Html.LabelFor(c => c.Contact)</td>
                    @*<td><input type="text" name="Name" value="@Model.Name"/></td>*@
                    <td>@Html.TextBoxFor(c => c.Contact, Model.Contact,new { id="Contact"})</td>
                    <td style="color:red">@Html.ValidationMessageFor(c => c.Contact,"", new { id = "validcontact" })</td>
                    
                </tr>
                
                <tr>
                    <td>@Html.LabelFor(c => c.LoyaltyPoint)</td>
                    @*<td><input type="text" name="Name" value="@Model.Name"/></td>*@
                    <td>@Html.TextBoxFor(c => c.LoyaltyPoint, Model.LoyaltyPoint)</td>
                    <td style="color:red">@Html.ValidationMessageFor(c => c.LoyaltyPoint)</td>
                    
                </tr>
                
                
                
                
                

                <tr>
                    <td></td>
                    @*<td><input type="submit" value="Save" /></td>*@

                    <td>
                        <button class="btn btn-primary" type="submit">
                            <i class="animated--fade-in">Save</i>
                        </button>
                    </td>
                    <td>
                        @*@if (ViewBag.Message != null)
                        {
                            <h3>
                                <b>
                                    @ViewBag.Message
                                </b>
                            </h3>
                        }*@

                    </td>
                </tr>

            </table>

          
           @{ 
               Html.RenderPartial("~/Views/Shared/Customer/_CustomerDetails.cshtml");

           }


        </form>
    </div>

@section MyScript{
    <script src="~/Scripts/jquery-1.8.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(document).ready(function () {
            function Contains(text_one, text_two) {
                if (text_one.indexOf(text_two) != -1)
                    return true;
            }
            $("#search").keyup(function () {
                var searchtext = $("#search").val().toLocaleLowerCase();



                $(".Search").each(function () {

                    if (!Contains($(this).text().toLowerCase(), searchtext)) {
                        $(this).hide();
                    }
                    else {
                        $(this).show();
                    }
                }
                )
            });
            ////////////////////////////////////////////////////

            var c = true;
            var n = true;
            $("#Code").focusout(function () {

                var Codeget = $("#Code").val();
                var jsonRequestData = { code: Codeget };
                $.ajax({
                    url: "/Customer/GetCustomerByCode",
                    type: "POST",//GET/POST
                    data: jsonRequestData,
                    success: function (isExist) {

                        //$("#validcode").empty();
                        if (isExist) {
                            $("#validcode").empty();
                            $("#validcode").append('*code already exists'); c = false;
                        }
                        else { /*$("#validcode").empty();*/ c = true; }

                    },

                    error: function (data) { alert("Error in Unique Checking(Code)"); }

                });
            });

            ////////////////////////////////////////////////////////////////////
            $("#Name").focusout(function () {

                var Nameget = $("#Name").val();
                var jsonRequestData = { name: Nameget };
                $.ajax({
                    url: "/Customer/GetCustomerByName",
                    type: "POST",//GET/POST
                    data: jsonRequestData,
                    success: function (isExist) {

                        //$("#validname").empty();
                        if (isExist) {
                            $("#validname").empty();
                            $("#validname").append('*name already exists'); n = false;
                        }
                        else { /*$("#validname").empty();*/ n = true; }

                    },

                    error: function (data) { alert("Error in Unique Checking(Code)"); }


                });
            });

            /////////////////////////////////////////////////////////

            var email = true;
            var contact = true;
            $("#Email").focusout(function () {

                var Emailget = $("#Email").val();
                var jsonRequestData = { email: Emailget };
                $.ajax({
                    url: "/Customer/GetCustomerByEmail",
                    type: "POST",//GET/POST
                    data: jsonRequestData,
                    success: function (isExist) {

                        //$("#validcode").empty();
                        if (isExist) {
                            $("#validemail").empty();
                            $("#validemail").append('*email already exists'); email = false;
                        }
                        else { /*$("#validcode").empty();*/ email = true; }

                    },

                    error: function (data) { alert("Error in Unique Checking(Code)"); }

                });
            });

            ////////////////////////////////////////////////////////////////////
            $("#Contact").focusout(function () {

                var Contactget = $("#Contact").val();
                var jsonRequestData = { contact: Contactget };
                $.ajax({
                    url: "/Customer/GetCustomerByContact",
                    type: "POST",//GET/POST
                    data: jsonRequestData,
                    success: function (isExist) {

                        //$("#validname").empty();
                        if (isExist) {
                            $("#validcontact").empty();
                            $("#validcontact").append('*Contact already exists'); contact = false;
                        }
                        else { /*$("#validname").empty();*/ contact = true; }

                    },

                    error: function (data) { alert("Error in Unique Checking(Code)"); }


                });
            });

            /////////////////////////////////////////////////////////




























            //////////////////
            $("#form").submit(function () {
                if (!n) {
                    alert("The Name Already Exists!");
                    return false;
                }
                if (!c) {
                    alert("The Code Already Exists!");
                    return false;
                }
                if (!email) {
                    alert("The Email Already Exists!");
                    return false;
                }
                if (!contact) {
                    alert("The Contact Already Exists!");
                    return false;
                }
                if ($(this).valid()) {
                    alert('Successfully submitted!');
                }
            });
            ////////////////////////




























            ///////////////////////////////////////////////////


        });


    </script>
}
    @*<script src="~/Scripts/jquery-1.8.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>*@
