@model Brainstorm.Models.SupplierViewModel
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="color:black ;background-color:white">
    <tr>
        <th>Sl</th>
        <th>Code</th>
        <th>Name</th>
        <th>Address</th>
        <th>Email</th>
        <th>Contact</th>
        <th>ContactPerson</th>
        <th>Action</th>

    </tr>
    @{ int i = 1;}
    @foreach (var sup in Model.Suppliers)
    {
        <tr class="Search">
            <td>@(i++)</td>
            <td>@sup.Code</td>
            <td>@sup.Name</td>
            <td>@sup.Address</td>
            <td>@sup.Email</td>
            <td>@sup.Contact</td>
            <td>@sup.ContactPerson</td>

            <td>
                @Html.ActionLink("Edit", "Edit", "Supplier", new { Id = sup.Id }, null)
                @*@Html.ActionLink("Delete", "Delete", "Supplier", new { Id = sup.Id }, null)*@
            </td>
        </tr>
    }

</table>

