<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="color:black ;background-color:white">
    <tr>
        <th>Sl</th>
        <th>Code</th>
        <th>Name</th>
        <th>Category</th>
        <th>Available Qty.</th>
        <th>CP(TK)</th>
        <th>MRP(TK)</th>
        <th>Profit</th>
       


    </tr>
    @{
        var rep = ViewBag.x;
    }
    @{ int i = 1;}
    @foreach (var p in rep)
    {
        <tr class="Search">

            <td>@(i++)</td>
            <td>@p.Code</td>
            <td>@p.Name</td>
            <td>@p.Category</td>
            <td>@p.AvailableQuantity</td>
            <td>@p.CostPrice</td>
            <td>@p.MRP</td>
            <td>@p.Profit</td>
 

        </tr>
    }

</table>
